.barrasupe{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.navbar { 
    font-size: larger; 
background-color: #179cf5e8; /* Color de fondo de la barra de navegación */ 
overflow: hidden; /* Para manejar el overflow de los elementos flotantes */
}

.navbar a {
float: left; /* Para alinear los elementos a la izquierda */ 
display: block; /* Para que cada enlace sea un bloque y ocupe toda la anchura disponible */
color: #f2f2f2; /* Color del texto de los enlaces */ 
text-align: center; /* Para centrar el texto dentro de los enlaces */
padding: 14px 20px; /* Espaciado interno de los enlaces */
text-decoration: none; /* Quita el subrayado de los enlaces */
}

.navbar a:hover { 
color: black; /* Cambia el color del texto del enlace cuando se pasa el ratón por encima */
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-top: 5%;
}




.boton-colapsar {
    background-color: #179cf5e8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    margin: 5%;
   
    

}

.collapsible {
    background-color: #179cf5e8;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.collapsible:hover {
    background-color: #0056b3;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.active {
    display: block;
}

footer {
    background-color: #179cf5e8;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    }